@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #0d2436;
}

.image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.section-copyright-container {
    text-align: center;
    color: #ffffff;
    background-color: #001c32;
    padding: 10px;
}