@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #323f4b;
    height: 80vh;
}

.image {
    width: 360px;
    border-radius: 3px;
}

.facts {
    color: #cced00;
    font-family: "Roboto";
    font-size: 25px;
}

.aboutme {
    color: white;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: bold;
}

.description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.bg-container2 {
    background-color: #323f4b;
    height: 100vh;
}

.skills-container {
    background-color: transparent;
    width: 150px;
    height: 150px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 8px;


}

.image-logo {
    width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

.logo-name {
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;

}