@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    border-style: solid;
    border-width: 2px;
    border-color: #707070;
}

.image {
    height: 120px;
    width: 80px;
}

.details-container {
    padding: 20px;
}

.heading {
    color: #0a1f44;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 24px;
    ;
}

.unorderlist {
    color: #0a1f44;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
}