@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.card {
    width: 400px;
    height: 600px;
}

.bg-container1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
}

.bg-container2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
}

.product-title {
    color: white;
    font-family: "Roboto";
    font-size: 32px;

}

.product-description {
    color: white;
    font-family: "Roboto";
    font-size: 23px;

}

.button {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    background-color: transparent;
}

.button2 {
    color: white;
    background-color: #1754a1;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 173px;
    height: 56px;
    border-width: 0px;
    border-radius: 4px;
}